.box{
    height:100px;
    width: 300px;
    background-color: pink;
    animation-name: fontAnimation;
    animation-name: colorani;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-delay: 0;
    animation-iteration-count: 3;
    animation-direction: alternate;
}

@keyframes fontAnimation{
    form{font-size:2opx;
    }
    to{
        font-size:40px;
    }
}
@keyframes colorani{
    from{
        background-color: pink;
    }
    to{
        background-color: yellow;
    }
}